.info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Parisienne';
    font-size: 4vh;
    margin-top: 20vh;
}

.info-container p{
    display: flex;
    justify-content: center;
    text-align: center;
}
